name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: "24"

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Check formatting
        run: yarn fmt --check

      - name: Codegen
        run: yarn lingui:compile

      - name: Run linting
        run: yarn lint

      - name: Type check
        run: yarn typecheck

      - name: Build
        run: yarn build

      - name: Run tests
        run: yarn test
